<div class="m-333">

  <div fxFlex="50" class="pr-1">
    <mat-form-field class="full-width">
      <mat-select name="Plan" placeholder=" Seleccione un plan contable activo :" [(ngModel)]="selectedValue">
        <mat-option *ngFor="let plan of Planes" [value]="plan.value" ngDefaultControl>
          {{ plan.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Añadir</button>
  </div>
</div>


<mat-card>
  <p-tree [style]="{'width':'100%'}" [value]="filesTree0" selectionMode="single" [(selection)]="selectedFile"
          (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
  </p-tree>

</mat-card>
<!--<mat-card class="p-0">-->
  <!--<mat-card-content class="p-0">-->
    <!--<ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"-->
      <!--[rowHeight]="'auto'">-->
      <!--<ngx-datatable-column name="Número de cuenta" [flexGrow]="1">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--{{ row?.NumeroCuenta }}-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
      <!--<ngx-datatable-column name="Etiqueta" [flexGrow]="1">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--{{ row?.Etiqueta }}-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
      <!--<ngx-datatable-column name="Grupo de cuenta" [flexGrow]="1">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--{{ row?.GrupoCuenta }}-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
      <!--<ngx-datatable-column name="Estado" [flexGrow]="1">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--<mat-chip mat-sm-chip [color]="'primary'" [selected]="row.Estado">{{row.Estado ? 'activo' : 'inactivo'}}</mat-chip>-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
      <!--<ngx-datatable-column name="Actions" [flexGrow]="1">-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--<button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">-->
            <!--<mat-icon>edit</mat-icon>-->
          <!--</button>-->
          <!--<button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">-->
            <!--<mat-icon>delete</mat-icon>-->
          <!--</button>-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
    <!--</ngx-datatable>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->
