<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Lista de movimientos">
      <div class="m-333">
        <!--<button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Nuevo Movimiento</button>-->
        <!--<a mat-icon-button mat-sm-button color="warn" routerLink="nuevatransaccion" matTooltip="Añadir Nuevo Movimiento">-->
        <a mat-icon-button mat-sm-button color="warn" matTooltip="Añadir Nuevo Movimiento" (click)="creado = true"
          [disabled]="creado">
          <mat-icon>library_add</mat-icon>
        </a>
      </div>

      <div class="m-333" style="display: flex; justify-content: space-between;">
        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="FechaInicio" placeholder="Fecha de Inicio" [matDatepicker]="DateInicio">
            <mat-datepicker-toggle matSuffix [for]="DateInicio"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #DateInicio></mat-datepicker>
        </div>


        <div fxFlex="20" class="pr-1">
          <mat-form-field class="full-width">
            <input matInput name="FechaFin" placeholder="Fecha de Fin" [matDatepicker]="DateFin">
            <mat-datepicker-toggle matSuffix [for]="DateFin"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #DateFin></mat-datepicker>
        </div>

        <a mat-icon-button mat-sm-button color="warn" matTooltip="Refrescar período del reporte">
          <mat-icon>refresh</mat-icon>
        </a>

        <a mat-icon-button mat-sm-button color="warn" matTooltip="Agrupar por cuenta contable">
          <mat-icon>group_work</mat-icon>
        </a>

        <div class="select-group">
          <mat-form-field class="full-width">
            <mat-select placeholder=" Seleccione número de items:" [(ngModel)]="selPageSize" (selectionChange)=" getItems()">
              <mat-option *ngFor="let page of pageSize" [value]="page" ngDefaultControl>{{ page }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>



      <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50"
          [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">

          <!--<ngx-datatable class="material ml-0 mr-0" [rows]="items.data" [columnMode]="'flex'" [headerHeight]="50"
          [footerHeight]="50" [externalPaging]="true" [count]="items.total" [limit]="items.per_page" [rowHeight]="'auto'"
          (page)='setPage($event)'>-->

          <ngx-datatable-column name="Fecha Transacción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Fecha }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Documento" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.DContable }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Etiqueta }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Estacion" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Estacion}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Aplicación" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Estacion}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Debe" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Debe }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Haber" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.Haber }}
            </ng-template>
          </ngx-datatable-column>





        </ngx-datatable>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Crear nuevo movimiento" *ngIf="creado">
      <mat-card-content class="mt-1">
        <h1 matDialogTitle>Crear nuevo movimiento</h1>
        <form [formGroup]="itemForm" (ngSubmit)="submitTransaccion()">
          <div fxLayout="row wrap" fxLayout.lt-sm="column">

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Fecha" placeholder="Fecha" [matDatepicker]="DateDocContable" [formControl]="itemForm.controls['Fecha']">
                <mat-datepicker-toggle matSuffix [for]="DateDocContable"></mat-datepicker-toggle>
              </mat-form-field>
              <mat-datepicker #DateDocContable></mat-datepicker>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="SerieDocumento" placeholder="Doc. contabilidad" [formControl]="itemForm.controls['SerieDocumento']">
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Etiqueta" placeholder="Etiqueta operación" [formControl]="itemForm.controls['Etiqueta']">

              </mat-form-field>
            </div>

            <div fxFlex="100" class="mt-1">
              <button mat-raised-button color="primary" [disabled]="itemForm.invalid  || trans">Crear</button>
              <div class="m-333" *ngIf="trans">
                <a mat-icon-button mat-sm-button color="warn" matTooltip="Añadir Asiento" (click)="openPopUp({}, true)">
                  <mat-icon>library_add</mat-icon>
                </a>
              </div>

              <div class="m-333" *ngIf="ListaDetalles.length > 0">
                <a mat-icon-button mat-sm-button color="warn" matTooltip="Guardar transacción" (click)="Guardar()">
                  <mat-icon>save</mat-icon>
                </a>
              </div>



              <span fxFlex></span>
              <button mat-button color="warn" type="button" (click)="Cancelar()">Cancelar</button>
            </div>
          </div>
        </form>
        <div class="m-333">
          <!--<mat-checkbox matTooltip="Contabilizar Transacción" class="mail-checkbox hide-on-open" (click)="stopProp($event)"  >
          </mat-checkbox>-->
          <mat-checkbox [(ngModel)]="checked" *ngIf="ListaDetalles.length > 0">Contabilizar Transacción</mat-checkbox>
        </div>
        <mat-list *ngIf="trans">
          <h3 matSubheader>Listado de movimientos</h3>

          <mat-card class="p-0">
            <mat-card-content class="p-0">
              <ngx-datatable class="material ml-0 mr-0" [rows]="ListaDetalles" [columnMode]="'flex'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'">

                <ngx-datatable-column name="Cuenta Contable" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.Cuenta }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.Etiqueta }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Debe" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.Debe }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Haber" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.Haber }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
                      <mat-icon>edit</mat-icon>
                    </a>
                    <a mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                      <mat-icon>delete</mat-icon>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </mat-card-content>
          </mat-card>

        </mat-list>

      </mat-card-content>
    </mat-tab>
  </mat-tab-group>

</mat-card>