<div class="p-0" >
  <mat-card>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">

      <mat-form-field style="width: 300px !important;">
        <input matInput placeholder="Buscar" type="text" (keydown.enter)="onKeydown($event)" >
      </mat-form-field>

    </div>

    <p-tree [style]="{'width':'100%'}" [value]="filesTree0" >
    </p-tree>

  </mat-card>
</div>

<div style="margin-top: 8px">

  <button mat-raised-button class="mr-1" mat-sm-button color="primary" (click)="expandAll()" >
    <mat-icon>arrow_downward</mat-icon>
    Expandir Plan Contable
  </button>
  <button mat-raised-button class="mr-1" mat-sm-button color="primary" (click)="collapseAll()">
    <mat-icon>arrow_upward</mat-icon>
    Contraer Plan Contable
  </button>

  <button mat-raised-button class="mr-1" color="primary" [routerLink]="['/modulos/configurar/modelosplanescontables']">
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
</div>
