<div class="m-333">
  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaInicio" placeholder="Fecha de Inicio" [matDatepicker]="appDatepicker">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker></mat-datepicker>
  </div>


  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaFin" placeholder="Fecha Final" [matDatepicker]="appDatepicker2">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker2"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker2></mat-datepicker>
  </div>

  <button mat-raised-button class="mb-05" color="primary">Refrescar Período del Reporte</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">

      <ngx-datatable-column name="Grupos" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Grupo }}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Enero" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Enero }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Febrero" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Febrero }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Marzo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Marzo }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Abril" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Abril }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Mayo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Mayo }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Junio" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Junio }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Julio" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Julio }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Agosto" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Agosto }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Septiembre" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Septiembre }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Octubre" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Octubre }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Noviembre" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Noviembre }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Diciembre" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Diciembre }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content>
</mat-card>