<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Nueva Cuenta Financiera</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="Cuentas Bancarias" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CuentaBancaria }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Etiqueta }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Tipo }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Número" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Numero }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cuenta Contable" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CuentaContable }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Código Contable diario" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CodigoContableDiario}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Estado" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.Estado">{{row.Estado ? 'activo' : 'inactivo'}}</mat-chip>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Saldo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Saldo}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>