<h1 matDialogTitle>{{data.title}}</h1>
<form name="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Modelo" [formControl]="itemForm.controls['Descripcion']" placeholder="Descripcion">
        <small *ngIf="itemForm.controls['Descripcion'].hasError('maxlength')" class="form-error-msg">
          No se puede exceder de {{itemForm.controls['Descripcion'].errors.maxlength.requiredLength}} caracteres </small>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Etiqueta" [formControl]="itemForm.controls['Observacion']" placeholder="Observación">
        <small *ngIf="itemForm.controls['Observacion'].hasError('maxlength')" class="form-error-msg">
          No se puede exceder de {{itemForm.controls['Observacion'].errors.maxlength.requiredLength}} caracteres </small>
      </mat-form-field>
    </div>



    <div fxFlex="50" class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['Estado']">Estado</mat-slide-toggle>
    </div>



    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
</form>
