<div class="p-0">
  <mat-card>
    <mat-card-title>
      <div class="card-title-text" style="display: flex; justify-content: space-between;">
        <span>Seleccione una cuenta para ver su Mayor</span>
      

     <button mat-raised-button class="mb-05" color="primary" [routerLink]="['lista', selectedFile.data]" *ngIf="selectedFile">Listar Transacciones</button>
    </div>
    </mat-card-title>
    <p-tree [style]="{'width':'100%'}" [value]="filesTree0[0].data" selectionMode="single" [(selection)]="selectedFile"
      (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>

  </mat-card>
</div>