<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" >

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Fecha" placeholder="Fecha Apertura" [matDatepicker]="appDatepicker">
        <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #appDatepicker></mat-datepicker>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Etiqueta cuenta o caja" placeholder="Etiqueta cuenta o caja">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Número de cuenta" placeholder="Número de cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select name="Tipo de cuenta" placeholder="Tipo de cuenta">
          <mat-option *ngFor="let tipo of tipoCuentas | async" [value]="tipo.ID" ngDefaultControl>
            {{ tipo.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Saldo inicial" placeholder="Saldo inicial">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Saldo mínimo autorizado" placeholder="Saldo mínimo autorizado">
      </mat-form-field>
    </div>



    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Identificación del titular de la cuenta" placeholder="Identificación del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Nombre del titular de la cuenta" placeholder="Nombre del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Dirección del titular de la cuenta" placeholder="Dirección del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select name="Código contable diario" placeholder="Entidad Bancaria">
          <mat-option *ngFor="let banco of bancos | async" [value]="banco.ID" ngDefaultControl>
            {{ banco.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pt-1 pr-1">
      <mat-slide-toggle>Estado</mat-slide-toggle>
    </div>


    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
</form>
