<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" >

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['FechaApertura']" name="FechaApertura" placeholder="Fecha Apertura" [matDatepicker]="appDatepicker" disabled>
        <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-datepicker #appDatepicker disabled="false"></mat-datepicker>
    </div>

    <!--<div fxFlex="50" class="pr-1">-->
      <!--<mat-form-field class="full-width">-->
        <!--<input matInput name="Etiqueta" [formControl]="itemForm.controls['Etiqueta']" placeholder="Etiqueta cuenta o caja">-->
      <!--</mat-form-field>-->
    <!--</div>-->

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['NumeroCuenta']" name="NumeroCuenta" placeholder="Número de cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select [formControl]="itemForm.controls['IDTipoCuenta']" name="IDTipoCuenta" placeholder="Tipo de cuenta">
          <mat-option *ngFor="let tipo of tipoCuentas | async" [value]="tipo.ID" ngDefaultControl>
            {{ tipo.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['SaldoInicial']" name="SaldoInicial" placeholder="Saldo inicial" type="number">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['SaldoMinimo']" name="SaldoMinimo" placeholder="Saldo mínimo autorizado" type="number">
      </mat-form-field>
    </div>



    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['IdentificacionTitular']" name="IdentificacionTitular" placeholder="Identificación del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['NombreTitular']" name="NombreTitular" placeholder="Nombre del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [formControl]="itemForm.controls['DireccionTitular']" name="DireccionTitular" placeholder="Dirección del titular de la cuenta">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select [formControl]="itemForm.controls['IDBanco']" name="IDBanco" placeholder="Entidad Bancaria">
          <mat-option *ngFor="let banco of bancos | async" [value]="banco.ID" ngDefaultControl>
            {{ banco.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pt-1 pr-1">
      <mat-slide-toggle [formControl]="itemForm.controls['Estado']" >Estado</mat-slide-toggle>
    </div>


    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
    </div>
  </div>
</form>
