<div class="m-333">
  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaInicio" placeholder="Fecha de Inicio" [matDatepicker]="appDatepicker">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker></mat-datepicker>
  </div>


  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaFin" placeholder="Fecha Final" [matDatepicker]="appDatepicker2">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker2"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker2></mat-datepicker>
  </div>

  <button mat-raised-button class="mb-05" color="primary">Refrescar Período del Reporte</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">

      <ngx-datatable-column name="Cliente" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Cliente }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Número de Cédula" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.NCedula }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Valor (inc. IVA)" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Valor }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Porcentaje" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Porcentaje }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </mat-card-content>
</mat-card>