<div class="m-333" style="display: flex; justify-content: space-between;">
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Añadir</button>
  <div class="select-group">
    <mat-form-field class="full-width">
      <mat-select placeholder=" Seleccione número de ítems:" [(ngModel)]="selPageSize" (selectionChange)=" getItems()">
        <mat-option *ngFor="let page of pageSize" [value]="page" ngDefaultControl>{{ page }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items.data" [columnMode]="'flex'" [headerHeight]="50"
                   [footerHeight]="50" [externalPaging]="true" [count]="items.total" [limit]="items.per_page" [rowHeight]="'auto'"
                   (page)='setPage($event)'>

      <ngx-datatable-column name="Cédula" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Cedula }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nombres" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.ApellidoPaterno + ' ' + row?.NombrePrimer }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Rol" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Rol }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Estado" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.Estado">{{row.Estado ? 'activo' : 'inactivo'}}</mat-chip>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Acciones" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="deleteItem(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="accent" class="mr-1" (click)="usersEmpresa(row)" matTooltip="Asignar Empresa">
            <mat-icon>explicit</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
