<div class="m-333">
  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaInicio" placeholder="Fecha de Inicio" [matDatepicker]="appDatepicker">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker></mat-datepicker>
  </div>


  <div fxFlex="20" class="pr-1">
    <mat-form-field class="full-width">
      <input matInput name="FechaFin" placeholder="Fecha Final" [matDatepicker]="appDatepicker2">
      <mat-datepicker-toggle matSuffix [for]="appDatepicker2"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #appDatepicker2></mat-datepicker>
  </div>

  <div fxFlex="50" class="pr-1">
    <mat-form-field class="full-width">
      <mat-select name="Desde" placeholder="Desde :" [(ngModel)]="selectedValue">
        <mat-option *ngFor="let cuenta of Cuentas" [value]="cuenta.value" ngDefaultControl>
          {{cuenta.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="50" class="pr-1">
    <mat-form-field class="full-width">
      <mat-select name="Hasta" placeholder="A :" [(ngModel)]="selectedValue">
        <mat-option *ngFor="let cuenta of Cuentas" [value]="cuenta.value" ngDefaultControl>
          {{cuenta.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button class="mb-05" color="primary">Buscar</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">

      <ngx-datatable-column name="Cuenta contable" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Cuentacontable }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Etiqueta }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Debe" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Debe }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Haber" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Haber }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Saldo" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Saldo}}
        </ng-template>
      </ngx-datatable-column>



    </ngx-datatable>
  </mat-card-content>
</mat-card>