<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Crear nuevo movimiento">
      <mat-card-content class="mt-1">
        <h1 matDialogTitle>Crear nuevo movimiento</h1>
        <form [formGroup]="itemForm" (ngSubmit)="submitTransaccion()">
          <div fxLayout="row wrap" fxLayout.lt-sm="column">

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Fecha" placeholder="Fecha" [matDatepicker]="appDatepicker" [formControl]="itemForm.controls['Fecha']">
                <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
              </mat-form-field>
              <mat-datepicker #appDatepicker></mat-datepicker>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="SerieDocumento" placeholder="Doc. contabilidad" [formControl]="itemForm.controls['SerieDocumento']">
              </mat-form-field>
            </div>

            <div fxFlex="100" class="mt-1">
              <button mat-raised-button color="primary" [disabled]="itemForm.invalid || creado">Crear</button>
              <span fxFlex></span>
              <button mat-button color="warn" type="button" routerLink="../">Cancelar</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-tab>


    <mat-tab label="Transacción" *ngIf="creado">
      <mat-card-content class="mt-1">
        <h1 matDialogTitle>Modificar transacción</h1>
        <form [formGroup]="cabeceraForm" (ngSubmit)="submitDetalle()">
          <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <!--<div fxFlex="50" class="pr-1">
              <mat-form-field>
                <input matInput placeholder="Cuenta" [matAutocomplete]="auto" [formControl]="detalleForm.controls['Cuenta']">
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let seleccionado of cuenta | async" [value]="seleccionado">
                  {{ seleccionado }}
                </mat-option>
              </mat-autocomplete>
            </div>-->
            <!--<div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="NumMovimiento" placeholder="Número de movimiento	" [formControl]="cabeceraForm.controls['NumMovimiento']">
              </mat-form-field>
            </div>-->

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="Fecha" placeholder="Fecha" [formControl]="cabeceraForm.controls['Fecha']" >
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="DocContable" placeholder="Doc. contabilidad" [formControl]="cabeceraForm.controls['DocContable']">
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="FechaC" placeholder="Fecha de creación" [formControl]="cabeceraForm.controls['FechaC']">
              </mat-form-field>
            </div>

          </div>
        </form>
        <form [formGroup]="detalleForm" (ngSubmit)="submitDetalle()">
          <mat-list *ngIf="creado">
            <h3 matSubheader>Listado de movimientos</h3>
            <mat-list-item>
              <div fxFlex="20" class="pr-1">
                <mat-form-field>
                  <input matInput placeholder="Cuenta" [matAutocomplete]="auto" [formControl]="detalleForm.controls['IDCuenta']">
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let seleccionado of cuenta | async" [value]="seleccionado">
                    {{ seleccionado.cuenta }}
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div fxFlex="20" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput name="Etiqueta" placeholder="Etiqueta operación" [formControl]="detalleForm.controls['Etiqueta']">
                </mat-form-field>
              </div>

              <div fxFlex="20" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput name="Debe" placeholder="Debe" [formControl]="detalleForm.controls['Debe']">
                </mat-form-field>
              </div>

              <div fxFlex="20" class="pr-1">
                <mat-form-field class="full-width">
                  <input matInput name="Haber" placeholder="Haber" [formControl]="detalleForm.controls['Haber']">
                </mat-form-field>
              </div>

              <div fxFlex="20" class="mt-1">
                <button mat-raised-button color="primary" [disabled]="detalleForm.invalid">Actualizar</button>
              </div>

              <div fxFlex="20" class="mt-1" *ngIf="ListaDetalles.length > 0">
                <a mat-raised-button color="primary" (click)="Guardar()">Finalizar</a>
              </div>

            </mat-list-item>
            <!--<mat-list-item  *ngFor="let cuenta of ListaDetalle | async">{{cuenta.Etiqueta}}</mat-list-item>-->
            <mat-card class="p-0">
              <mat-card-content class="p-0">
                <ngx-datatable class="material ml-0 mr-0" [rows]="ListaDetalles" [columnMode]="'flex'" [headerHeight]="50"
                  [footerHeight]="50" [rowHeight]="'auto'">

                  <ngx-datatable-column name="Cuenta Contable" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.Cuenta }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Etiqueta" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.Etiqueta }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Debe" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.Debe }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Haber" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.Haber }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Actions" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                        <mat-icon>delete</mat-icon>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </mat-card-content>
            </mat-card>

          </mat-list>
        </form>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
  <mat-divider class="mb-1"></mat-divider>

</mat-card>