<!--<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary">Contabilizar</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="Id línea" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.IdLinea }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Fecha" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Fecha }}
        </ng-template>
      </ngx-datatable-column>

     
      <ngx-datatable-column name="Descripcion" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Descripcion }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Valor" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Valor }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Cuenta Contable" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CuentaContable }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Contabilizar línea" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CuentaContable }}
        </ng-template>
      </ngx-datatable-column>

     

    </ngx-datatable>
  </mat-card-content>
</mat-card>-->


<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary">Contabilizar</button>
</div>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="items" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [limit]="10"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="Id línea" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.IdLinea }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Informe de gastos" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Informegasto }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Fecha" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Fecha }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tipos de honorarios" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Tiposhonorario }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Descripcion" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Descripcion }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Cantidad" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Cantidad }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tasa de Impuesto" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Impuesto }}
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="Cuenta" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.CuentaContable }}
        </ng-template>
      </ngx-datatable-column>

   

    </ngx-datatable>
  </mat-card-content>
</mat-card>