<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Descripcion" [formControl]="itemForm.controls['Descripcion']" placeholder="Descripción">
      </mat-form-field>

    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Observacion" [formControl]="itemForm.controls['Observacion']" placeholder="Observación">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="RUC" [formControl]="itemForm.controls['RUC']" placeholder="RUC">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="RazonSocial" [formControl]="itemForm.controls['RazonSocial']" placeholder="Razón Social">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="NombreComercial" [formControl]="itemForm.controls['NombreComercial']" placeholder="Nombre Comercial">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Direccion" [formControl]="itemForm.controls['Direccion']" placeholder="Dirección">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="Telefono" [formControl]="itemForm.controls['Telefono']" placeholder="Teléfono">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput type="email" name="Email" [formControl]="itemForm.controls['Email']" placeholder="Email">
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <mat-select name="TipoContribuyente" placeholder="Tipo Contribuyente" [formControl]="itemForm.controls['TipoContribuyente']">
          <mat-option *ngFor="let tipoContribuyente of tipoContribuyentes" [value]="tipoContribuyente.ID" ngDefaultControl>
            {{ tipoContribuyente.Descripcion }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-slide-toggle [formControl]="itemForm.controls['Estado']">Estado</mat-slide-toggle>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
</form>
